html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

ol, ul {
    -webkit-margin-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-padding-start: 0px;
    list-style: none;
}

header {
    top: 0px;
    width: 100%;
    background-color: rgb(220, 220, 220)
}

header .logo {
    width: 154px;
    height: 36px;
    background-image: url('./logo-nav.png');
    background-repeat: no-repeat;
}

header > ul {
    display: inline-block;
    list-style: none;
    margin: 0px;
}

header > ul > li {
    display: inline-block;
    height: 46px;
    line-height: 46px;
}

/* important thing is the float, if element floated, it will not adjusted to the normal text. */
.navbar-brand {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.navbar-title {
    float: left;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-right: 0.7rem;
    font-size: 1rem;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

div.main {
    position: relative;
    padding-top: 56px;
    padding-bottom: 20px;
}

.main .left-sidebar {
    width: 120px;
    position: absolute;
    left: 0px;
    top: 56px;
    padding: 0.5em;
}

main {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 120px;
}

footer {
    width: 100%;
    height: 20px;
    -webkit-padding-start: 0px;
    position: absolute;
    bottom: 0px;
}

footer > ul {
    -webkit-padding-start: 0px;
    list-style: none;
    margin: 0px;
}

footer > ul > li {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.card-header-pills{
    margin-right: -.625rem;
    margin-left: -.625rem;
}

.btn-margin {
    margin-bottom: 10px;
    margin-top: 10px;
}

.table-margin {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}

.tile-header {
    color: #8F8F8F;
    font-style: unset;
    background: -webkit-linear-gradient(top, #F2F2F2, #EDEDED, #E0E0E0, #F2F2F2);
}

.my-dialog {
    clear: both;
    overflow: hidden;
    padding: 20px;
    min-width: 420px;
}

.section-radio {
    float: left;
    margin-right: 50px;
    margin-left: 20px;
    width: 200px;
    padding: 10px;
}

.section-radio-margin {
    margin: 10px auto;
    padding-left: 100px;
}

.section-checkbox {
    margin-left: 300px;
    padding: 10px;
}

.section-button {
    padding: 20px;
    margin-left: 150px;
    margin-top: 20px;
    clear: both;
    width: 100%;
    overflow: hidden;
    display: table;
}

.section-dropdown {
    padding: 20px;
    margin-top: 20px;
}

.section-loading-form {
    margin-top: 10px;
    border: 2px solid gray;
    height: 300px;
}

.section-form {
    margin-top: 10px;
    padding: 10px;
}

.section {
    padding: 10px;
}

.section-border {
    border: 1px solid grey;
    padding: 10px;
    width: 600px;
    margin: 0 auto;
}

.form-checkbox-margin {
    margin-top: 15px;
}

@media (max-width: 768px) {
    .form-checkbox-margin {
        margin-top: 0px;
    }
}

@media (min-width: 544px){
    .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
   }
}

.section-ssrs {
    margin-top: -50px;
    margin-left: -90px;
    margin-right: 20px;
}

/***********animation - fade in and move left ****************/
.fadeInLeft {
    position: relative;
    animation: fadeInLeft 2s 1 normal ease-out;
    -webkit-animation: fadeInLeft 2s 1 normal ease-out;
    animation-fill-mode: both;
    animation-direction: alternate; 
}

@keyframes fadeInLeft {
    from {
        left: 120px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        left: 120px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

/***********animation - fade out and move left ****************/
.fadeOutLeft {
    position: relative;
    animation: fadeOutLeft 2s 1 normal ease-out;
    -webkit-animation: fadeOutLeft 2s 1 normal ease-out;
    animation-fill-mode: both;
    animation-direction: alternate; 
}

@keyframes fadeOutLeft {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: -120px;
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutLeft {
    from {
        left: 120px;
        opacity: 1;
    }
    to {
        left: 0;
        opacity: 0;
    }
}
/***********animation - fade out and move right***************/
.fadeOutRight {
    position: relative;
    animation: fadeOutRight 2s 1 normal ease-out;
    -webkit-animation: fadeOutRight 2s 1 normal ease-out;
    animation-fill-mode: both;
    animation-direction: alternate; 
}

@keyframes fadeOutRight {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 120px;
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutRight {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 120px;
        opacity: 0;
    }
}

/***********animation - fade in and move right***************/
.fadeInRight {
    position: relative;
    animation: fadeInRight 2s 1 normal ease-out;
    -webkit-animation: fadeInRight 2s 1 normal ease-out;
    animation-fill-mode: both;
    animation-direction: alternate; 
}

@keyframes fadeInRight {
    from {
        left: -120px;
        top: -440px;
        opacity: 0;
    }
    to {
        left: 120px;
        top: -440px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInRight {
    from {
        left: -120px;
        top: -440px;
        opacity: 0;
    }
    to {
        left: 120px;
        top: -440px;
        opacity: 1;
    }
}


/***********animation - fade out and move up***************/

.fadeOutUp {
    position: relative;
    animation: fadeOutUp 1s 1 normal ease-out;
    -webkit-animation: fadeOutUp 1s 1 normal ease-out;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes fadeOutUp {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -120px;
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutUp {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -120px;
        opacity: 0;
    }
}

/***********animation - fade in and move up***************/
.fadeInUp {
    position: relative;
    animation: fadeInUp 1s 1 normal ease;
    -webkit-animation: fadeInUp 1s 1 normal ease;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes fadeInUp {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: -460px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: -460px;
        opacity: 1;
    }
}


/***********animation - fade in and move down***************/
.fadeInDown {
    position: relative;
    animation: fadeInDown 3s 1 normal ease;
    -webkit-animation: fadeInDown 3s 1 normal ease;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes fadeInDown {
    from {
        top: -120px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInDown {
    from {
        top: -120px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/***********animation - fade out and move down***************/

.fadeOutDown {
    position: relative;
    animation: fadeOutDown 2s 1 normal ease;
    -webkit-animation: fadeOutDown 2s 1 normal ease;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes fadeOutDown {
    from {
        top: -460px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutDown {
    from {
        top: -460px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}